/* ----------------------------------------Configurações gerais---------------------------------------- */
:root{
    --background: #FFFFFF;
    --words: #000000;
    --background-objetivo: #FFFFFF;
    --background-modos: #C6C6C6;
    --background-caixa-modo: #343434;
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Montserrat';
}

body::-webkit-scrollbar {
    width: 4px;
}
  
body::-webkit-scrollbar-track {
    background: var(--background);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #6841F2;
    border-radius: 20px;
}

/* ----------------------------------------NavBar---------------------------------------- */
header{
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: var(--background);
    z-index: 99;
    box-shadow: 2px 2px 40px var(--background);
}

.navbar-logo{
    width: 15%;
}

.navbar-logo img{
    width: 100%;
}

.navbar-itens{
    width: 40%;
}


.navbar-itens ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar-itens li a{
    text-decoration: none;
    color: var(--words);
    font-size: 16px;
    font-weight: bold;
}

.navbar-button{
    width: 10%;
    height: 35%;
}

.navbar-button button{
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    background: #6841F2;
    box-shadow: 2px 2px 40px rgba(104, 65, 242, 0.54);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat';
    border: none;
}

.navbar-button button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 50px rgba(132, 102, 241, 0.5);
    transition: ease 0.4s; 
    font-size: 20.5px;
}
/* ----------------------------------------Modos---------------------------------------- */

.modos{
    display: flex;
    align-items: center;
    width: 233px;
    height: 65px;
    background-color: var(--background-modos);
    position: fixed;
    bottom: 100px;
    left: 50px;
    z-index: 2;
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;

}

.caixa-modo{
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: var(--background-caixa-modo);
    border-radius: 10px;
    transition: 0.9s all;
    left: 10px;
}

.caixa-modo img{
    width: 100%;
    height: 100%;
    transform: scale(.7);
}

.texto-modo{
    position: absolute;
    transition: 0.9s all;
    right: 30px;
    color: var(--words);
}

.modos.escuro .caixa-modo{
    left: 171px;
}

.modos.escuro .texto-modo{
    right: 80px;
}

/* ----------------------------------------Home---------------------------------------- */

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}

.home-slogan{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-slogan p{
    color: var(--words);
    font-size: 36px;
    font-weight: 800;
    width: 90%;
    margin: 0;
}

.home-slogan span{
    color: #6841F2;
}

.home-meio{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 85%;
}

.home-meio a{
    width: 80%;
}

.home-meio img{
    width: 100%;
}

.home-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 425px;
    height: 425px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(99, 86, 238, 0.5), rgba(99, 86, 238, 0.5)), url(./assets/imagem-home.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    mix-blend-mode: normal;
    box-shadow: 4px 4px 45px rgba(99, 86, 238, 0.54);
    transition: width 0.5s ease, height 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
    z-index: 10;
}


.home-detalhe{
    height: 100%;
    display: flex;
    justify-content: end;
    width: 40%;
}

.home-detalhe img{
    height: 100%;
}

/* ----------------------------------------Sobre Nos---------------------------------------- */

.sobrenos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--words);
}

.sobrenos-txt{
    width: 40%;
}

.sobrenos-txt span{
    color: #6841F2;
}

.sobrenos-txt h1{
    font-size: 36px;
}

.sobrenos-txt p{
    font-size: 24px;
}

.sobrenos-img{
    width: 50%;
}

.sobrenos-img img{
    opacity: 0;
    width: 100%;
    transition: opacity 0.5s ease;
    border: 2px solid #383993;
    filter: drop-shadow(4px 4px 54px rgba(56, 57, 147, 0.54));
    border-radius: 20px;

}

/* ----------------------------------------Objetivos---------------------------------------- */

.Sessao_Objetivos{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Titulo_Objetivos{
    font-weight: bold;
    color: #6841F2;
    font-size: 44px;
    text-align: center;
    margin: 0;
}

.Objetivos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.Objetivos_Superior{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.Objetivos_Inferiores{
    display: flex;
    justify-content: space-evenly;
}

.Caixa_Objetivo{
    background-color: var(--background-objetivo);
    border-radius: 10px;
    border: 2px solid #6356EE;
    box-shadow: 2px 2px 40px #6356EE;
    width: 24%;
    height: 170px;
    display: flex;
    align-items: center;
}

.Texto_Objetivo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 20px;
    font-size: 16px;
    text-align: center;
    color: var(--words);
}

.Caixa-Imagem{
    position: absolute;
    height: 170px;
    width: 24%;
}

.Imagem_Objetivo{
    width: 25%;
    position: relative;
    bottom: -80%;
    left: 50%;
    transform: translateX(-50%);
}

/* ----------------------------------------Clientes---------------------------------------- */

.Sessao_Clientes{
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.Titutlo_Clientes{
    font-size: 44px;
    color: #29C2FD;
    font-weight: bold;
    text-align: center;

}

.Clientes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Imagem_Cliente{
    height: 65%;
}

.Texto_Clientes{
    color: var(--words);
    font-size: 32px;
    text-align: center;
    padding: 0 10%;
    font-weight: 500;
}

/* ----------------------------------------Fale Conosco---------------------------------------- */

.Sessao_Fale_Conosco{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo_Fale_Conosco{
    color: #6356EE;
    font-weight: bold;
    font-size: 44px;
    margin: 10px 0;
    text-align: center;
}

.Texto_Fale_Conosco{
    text-align: center;
    color: var(--words);
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 30px 0;
}

.Caixa_de_Contato{
    border: 2px solid #6356EE;
    border-radius: 20px;
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 40px #6356EE;
}

.Caixa_Input{
    width: 50%;
}

.Texto_Input{
    color: var(--words);
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
}

.Input_Contato{
    background: none;
    border: none;
    border-bottom: 2px solid #6356EE;
    width: 100%;
    color: white;
    font-size: 16px;
}

input:focus {
    outline: none; 
}

textarea:focus {
    outline: none; 
}
  
#Input_Duvida{
    height: 70px;
    overflow-y: hidden;
    resize: none;
}

.Botao_Enviar{
    border-radius: 10px;
    height: 10%;
    width: 15%;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #6841F2;
    border: none;
    box-shadow: 2px 2px 40px rgba(104, 65, 242, 0.54);
}

.Botao_Enviar:hover{
    cursor: pointer;
    box-shadow: 2px 2px 50px rgba(132, 102, 241, 0.5);
    transition: ease 0.4s; 
    font-size: 20.5px;
}

/* ----------------------------------------Footer---------------------------------------- */

.footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 10px;
    margin-top: 100px;
}

.Logo_Footer{
    height: 50px;
}

.Texto_Footer{
    color: #FFFFFF;
    font-family: "Fira Code";
    font-size: 12px;
}

.Icones_Redes{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.Icone_Rede{
    height: 50px;
}
