:root{
    --background:#171616;
    --background_footer_lateral: #292929;
    --words: #FFFFFF;
    --background-modos: #555555;
    --background-caixa-modo: #FFFFFF;
    --background-comentario: #4C4C4C;
    
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Raleway';
}

.footer_lateral {
    width: 13.5%;
    height: 100%;
    background-color: var(--background_footer_lateral);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.div_acessos .img_logo{
    width: 185px;
    height: 76px;
}

.div_acessos{
    height: 40%;
    width: 100%;
}

.div_acessos ul{
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 100%;
    padding: 0;
}
 
.div_acessos li{
   width: 100%;
    height: 80%;
    color: var(--words);
    display: flex;
   align-items: center;
   cursor: pointer;
}

.div_acessos li img{
    margin-right: -12px;
    
    margin-left: 30px;
}

.div_acessos p{
    margin-left: 30px;
}
/* ------------------------------------------------------------------------------ */
.modos{
    display: flex;
    align-items: center;
    width: 150px;
    height: 45px;
    background-color: var(--background-modos);
    font-family: "Inter";
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.caixa-modo{
    position: relative;
    width: 38px;
    height: 38px;
    background-color: var(--background-caixa-modo);
    border-radius: 10px;
    transition: 0.9s all;
    left: calc(150px - 38px - 10px);
}


.caixa-modo img{
    width: 100%;
    height: 100%;
    transform: scale(.7);
}

.texto-modo{
    position: relative;
    transition: 0.9s all;
    right: 30px;
    color: var(--words);
}

.modos.escuro .caixa-modo{
    left: 5px;
}

.modos.escuro .texto-modo{
    right: -10px;
}
/* ----------------------------------------LOGOUT-------------------------------- */
.logout{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logout p{
    color: #ff0d00;
    margin-left: 5px;
}
/* ------------------------------------------------------------------------------ */

.selecionado{
    background-color: #6536ee;
}

.selecionado p{
    color: #FFFFFF;
}

/* --------------------------------------Dashboard---------------------------------------- */
.dashboard{ 
    height: 100vh; 
    width: calc(100% - 13.5%);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.navbar p{
    color: var(--words);
    font-size: 24px;
}

.graficos{
    height: 88%;
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.grafico-first{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.comentarios-second{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
}

.grafico-third{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
}

#feedbacks-chart{
    height: calc(100% - 20px);
    width: calc(100% - 40px);
}

/* Icone V*/
.icon {
    color: var(--words);
    margin-left: 10px; /* Espaço entre o texto e o ícone */
    font-size: 14px; 
    cursor: pointer;
  }

/* Todos os cometários relácionados */

.main-comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background_footer_lateral);
    width: calc(100% - 20px);
    height: 250px;
    border-radius: 5px;
    margin-top: -12px;
    justify-content:space-evenly;
    overflow-y: scroll;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    background-color: #777777;
    width: 5px;
    margin-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #6356EE;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.comentario{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--background-comentario);
    box-sizing: border-box;
    color: var(--words);
    width: 90%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: fit-content;
    margin-top: 15px;
    padding: 5px 20px;
}

.comentario p{
    font-size: 14px;
    margin: 10px;
}


.comentario-conteudo, .comentario-nota {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comentario-conteudo p, .comentario-nota p {
    margin-bottom: 5px;
}

.nota {
    font-size: 18px;
    font-weight: bold;
}

.nota.baixa {
    color: #FF5353;
}

.nota.media {
    color: #FFD221;
}

.nota.alta {
    color: #21D683;
}

#ratings-chart{
    height: calc(100% - 10px);
    width: calc(100% - 20px);
}

.chart-comentarios-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background_footer_lateral);
    width: 260px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    color: var(--words);
    
}


.chart-comentarios-second p {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.chart-comentarios-second .nota{
    font-size: 30px;
    margin-block: auto;
}

/* Indice de satifação */
.chart-satisfaction{
    background-color: var(--background_footer_lateral);
    width: 400px;
    height: calc(100% - 5px);
    border-radius: 5px;
}

.titulo-grafico {
    background-color: var(--background_footer_lateral);
    box-sizing: border-box;
    padding: 10px;
}

.main-indice{
    background-color: var(--background_footer_lateral);
    width: 400px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    color: var(--words);
    font-family: 'Montserrat';
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
 }

[class="title indice"] {
    margin-top: -35px;
  }

/* palavras chaves */
.main-topics{
    background-color: var(--background_footer_lateral);
    width: 400px;
    height: 433px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--words);
    font-family: 'Montserrat';
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin-top: -20px;
    padding: 10px;
}

.main-topics p {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.topics{
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    height: 15%;
}

.topics p{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

p.palavras-text{
    font-size: 14px;
    margin: 0 auto;
    text-align:center;
    font-weight: normal;

}

.title{
    color: var(--words);
    font-family: 'Montserrat'; 
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.title.indice {
    font-size: 18px;
}

h2#Palavras-chaves.title{
    margin: 30px;
    margin-top: 10px;


}

/* Recomendações */
.main-recomendacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background_footer_lateral);
    width: 100%;
    height: 170px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    align-items: center;
}

.main-recomendacao h3{
    display: flex;
    justify-content: center;
    color: var(--words);
    margin: 0;
    font-size: 18px;
    padding: 5px;
}


.recomendation{
    width: 95%;
    overflow-y: auto;
    height: 135px;
}

.main-recomendacao ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    color: var(--words) ;
}

.main-recomendacao li {
    font-size: 18px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    background-color: var(--background-comentario);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: normal;
}

/* satisfation */
/* .title-satisfaction{
    margin: -25px;
} */

.divSelect img {
    width: 20px;
}

.select-filial {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    background: none; 
    border: none; 
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.select-filial:focus {
    outline: none;
}

.select-filial option {
    color: black;
}

.comentarios-relacionados {
    width: 100%;
    background-color: var(--background_footer_lateral);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    gap: 20px;
}

.container-topics {
    border-radius: 5px;
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
} 

.container-topics.positivo{
    border: 1px solid rgba(33, 214, 131, 0.4);
}
.container-topics.regular{
    border: 1px solid rgba(255, 210, 33, 0.4);
}
.container-topics.negativo{
    border: 1px solid rgba(255, 83, 83, 0.4);
}

a {
    text-decoration: none;
    color: inherit;
}

.icone_dashboard {
    width: 25px;
}