:root{
    --background:#171616;
    --background_footer_lateral: #292929;
    --words: #FFFFFF;
    --background-modos: #555555;
    --background-caixa-modo: #FFFFFF;
    --background-topics: #4C4C4C;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Raleway';
}

.footer_lateral {
    width: 13.5%;
    height: 100%;
    background-color: var(--background_footer_lateral);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.div_acessos .img_logo{
    width: 185px;
    height: 76px;
}

.div_acessos{
    height: 40%;
    width: 100%;
}

.div_acessos ul{
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 100%;
    padding: 0;
}
 
.div_acessos li{
   width: 100%;
    height: 80%;
    color: var(--words);
    display: flex;
   align-items: center;
   cursor: pointer;
}

.div_acessos li img{
    margin-right: -12px;
    
    margin-left: 30px;
}

.div_acessos p{
    margin-left: 30px;
}
/* ------------------------------------------------------------------------------ */
.modos{
    display: flex;
    align-items: center;
    width: 150px;
    height: 45px;
    background-color: var(--background-modos);
    font-family: "Inter";
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.caixa-modo{
    position: relative;
    width: 38px;
    height: 38px;
    background-color: var(--background-caixa-modo);
    border-radius: 10px;
    transition: 0.9s all;
    left: calc(150px - 38px - 10px);
}


.caixa-modo img{
    width: 100%;
    height: 100%;
    transform: scale(.7);
}

.texto-modo{
    position: relative;
    transition: 0.9s all;
    right: 30px;
    color: var(--words);
}

.modos.escuro .caixa-modo{
    left: 5px;
}

.modos.escuro .texto-modo{
    right: -10px;
}
/* ----------------------------------------LOGOUT-------------------------------- */
.logout{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logout p{
    color: #ff0d00;
    margin-left: 5px;
}
/* ------------------------------------------------------------------------------ */

.selecionado{
    background-color: #6536ee;
}

.selecionado p{
    color: #FFFFFF;
}

/* --------------------------------------Dashboard---------------------------------------- */
.dashboard{ 
    height: 100vh; 
    width: calc(100% - 13.5%);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
}

.navbar p{
    color: var(--words);
    font-size: 24px;
}

.graficos{
    height: calc(90% - 20px);
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.grafico-first{
    width: 65%;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico-second{
    display: flex;
    width: calc(100% - 10px);
    height: 40%;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-right: 15px;
}
.grafico-third{
    width: 35%;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chart-feedbacks{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background_footer_lateral);
    width: calc(100% - 10px);
    height: 60%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
}

#feedbacks-chart{
    height: calc(100% - 20px);
    width: calc(100% - 40px);
}

.chart-ratings{
    display: flex;
    align-items: center;
    background-color: var(--background_footer_lateral);
    width: 64%;
    height: calc(100% - 10px);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

}

#ratings-chart{
    height: calc(100% - 10px);
    width: calc(100% - 20px);
}

.chart-satisfaction{
    background-color: var(--background_footer_lateral);
    width: calc(35% - 10px);
    height: calc(100% - 10px);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.chart-map{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background_footer_lateral);
    width: calc(100% - 10px);
    height: 45%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

#map-chart{
    height: calc(100% - 20px);
    width: calc(100% - 40px);
}

.main-topics{
    background-color: var(--background_footer_lateral);
    width: calc(100% - 10px);
    height: calc(54% - 10px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--words);
    font-family: 'Montserrat';
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.main-topics p {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.topics{
    display: flex;
    align-items: center;
    background-color: var(--background-topics);
    width: 90%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 15%;
    cursor: pointer;
}

.topics p{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}